* {
    padding: 0;
    box-sizing: border-box;
    margin: 0px;
}

.ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.thea {
    text-decoration: none;
}
.thea:hover {
    color: red;
}
.price{
    font-size: 16px;
}

ul {
    margin: 0px;
    padding: 0;
}

ul li {
    list-style: none;
    margin-right: 50px;
}

ul li a {
    text-decoration: none;
    font-weight: bold;
    color: white;
    padding: 14px 0px;
}

ul li a:active {
    color: red;
}

ul li a:hover {
    color: red;
    border-bottom: 4px solid red;
}

.title {
    font-size: 16px !important;
}

@media only screen and (max-width: 990px) {
    ul li {
        list-style: none;
        margin-right: 25px;
    }

    .title {
        font-size: 10px !important;
    }
    .price{
        font-size: 14px;
    }
}